


body{
    color: white;
    margin: 0px;
    padding: 0px;
}
html{
    
    background-color: #000000;
}
 /* home */
 /* #000000
 #5A6F8E #123974
  #7D868F*/
header {
    background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80);
    
    background-size: cover;
    background-repeat: no-repeat;
    height:400px;
}
.about .container{
    min-height: 300px;
}
 

a{
    text-decoration: none;
    color:#ffffff;
    font-family: 'Teko', sans-serif;
}
 
.nav-options ul li{
    display: inline-block;
    padding: 10px;
    
}
.nav-options ul{
    width: 100%;
    padding : 2.5%;
    margin: 5px;
    position: fixed;
    background-color:#000;
}

header q{
    display:block;
    text-align: center;
    margin:10px;
    font-family: 'Architects Daughter', cursive;

}
.container{
    margin: 15px;
    padding: 20px;
}
 
.about,.sm{
    background-color:#7D868F;

}
.container h2{
    color :  #123974;
    
}
.container p{
    color: #fff;
}
.container h3{
    color:#000000;
}
.exp .container p{
    color:#8f8a7d;
}
.exp .container p span{
    color: red;
}
.exp1,.exp2,.exp3{
    background-color:#7D868F;
    border: 3px solid #fff;
    margin:20px 10px;

    
}
.container .exp1  p,.container .exp3  p,.container .exp2  p{
    color :#fff;
    text-align: center;
}
h4{
    text-align: center;
}
.expimg {
    display: block;
    border-radius: 50%;
    width: 150px;
    height:150px;
    margin:auto;

}
.sm .container ul{
    list-style: none;
    margin:20px;
    padding:0px;
    
}
.sm .container ul li{
    margin: 10px;
}
.sm ul li img {
    width:20px;
}
.sm p a{
     
    color:#000000;
}
.sm div a{
    color:#000000;
    display: inline-block;
    padding-left:10px;

}
footer {
    margin: 10px;
}
footer a {
    display:block;
     

}
#x{
    padding: 0px;
}
span{
    color:#6b9de7;
}
b{
    color:#123974;
    font-size: 20px;
}
p{
    font-family: 'Gideon Roman', cursive;
}
h1,h2,h3,h4{
    font-family: 'Roboto Serif', sans-serif;
}

